html {
    margin: 0px 60px 0px 60px;
}


body {
    width: 960px;
    height: 900px;
}


p {
    font-family: 'Roboto Slab', serif;


}

.headerbuttons:hover {
    background-color: red;
    border-right: transparent;

}

#mypic {
    width: 268px;
    height: 211px;
}

 .headerbuttons {
    display: inline;
    position: relative;
    right: -469px;
}


.Box1 {
    background-color: #ffffff;
    width: 600px;
    height: 688px;
    padding: 25px;
    border: 1px solid black;
    margin: 25px;
    position: relative;
    top: 70px;
    left: 3px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

.Box2 {
    background-color: #ffffff;
    width: 250px;
    height: 200px;
    padding: 25px;
    border: 1px solid black;
    margin: 25px;
    position: relative;
    right: -710px;
    top: -692px;
    
}
 
.header {
    display: inline-block;
    width: 1392px;
    height: 66px;
    margin-bottom: -25px;
    /* left: 30px; */
    background-color: #ffffff;
    border-bottom: 4px solid #cccccc;
}

#name {
    color: white;
    float: left;
    width: 203px;
    height: 45px;
    position: relative;
    top: -32px;
    left: 26px;
    padding: 14px;
    margin: 25px 0px 0px 0px;
}

.headerbuttons {
    display: inline;
    position: relative;
    right: -460px;
    margin-right: 24px;
    margin-top: 12px;
    font-size: 19px;
    padding-right: 43px;
    background-color: transparent;
    border-right: solid lightgray;
    border-bottom: transparent;
    border-top: transparent;
    border-left: transparent;

}

.linkpics {
    width: 230px;
    height: 170px;
    margin: 20px;

}

#scratch:Hover {
    opacity: .5

}

#portfolio {
    border-right: transparent;
}

}

a {
    margin: 8px;
    text-decoration: none;

}

.container {
    width: 960px;
    position: absolute;
    margin: 0;
}

footer {
    position: relative;
    left: 0;
    bottom: 100px;
    width: 145%;
    height: 100px;
    background-color: #666666;
    border-top: 20px solid #4aaaa5;
    color: white;
    text-align: center;
    margin-top: -105px;
}

.links {
    padding: 5px;
}


#in{
    padding: 10px
}

#copyright {
    padding: 20px;

}

h1 {
    color: #4aaaa5
}

#git:Hover {
    opacity: .5
}

#in:Hover {
    opacity: .5
}

#stack:Hover {
    opacity: .5;
}

@media screen and (max-width: 960) {}
@media screen and (max-width: 768) {}
@media screen and (max-width: 640) {}

