html {
    width: 960px;
    height: 960px;
}


p {
	font-family: 'Roboto Slab', serif;


}

.headerbuttons:hover {
	background-color: red;

}

#mypic {
	width: 268px;
	height: 211px;
}

 .headerbuttons {
 	position: relative;
    right: -1500px;
}


.Box1 {
	background-color: #ffffff;
    width: 500px;
    padding: 25px;
    border: 1px solid black;
    margin: 90px;
    bottom: 692px;
    position: relative;
   
}

.Box2 {
	background-color: #ffffff;
    width: 300px;
    height: 200px;
    padding: 25px;
    border: 1px solid black;
    margin: 25px;
    position: relative;
    right: -700px;
    bottom: 1300px;
    
}
 
.header {
	display: inline-block;
	height: 40px;
    margin: 25px;
	background-color: #ffffff;

}

#name {
	float: left;
    width: 203px;
    height: 100px;
    position: relative;
    top: -57px;
    left: 94px;
}

.headerbuttons {
	display: inline;
    position: relative;
    right: -700px;
}

#copyright {
    position: relative;
    right: -480px;
    bottom: 900px;
}

a {
	margin: 8px
}

.container {
    bottom: 110px;
    top: 90px;
    position: absolute;
}

#Whole {
	width: 960px
	height: 100px;
}
